.login-card {
  margin: 75px auto;
}
body {
  background-color: lightblue;
}

.contact-link {
  text-align: center;
  background-color: lightgrey;
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
  font-size: medium;
  word-wrap: break-word;
  margin-left: 50%;
  margin-right: 50%;
  flex-wrap: wrap;
}
